VITE_SUPABASE_URL=https://oodlpererkbxhiuugbax.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Iy7vBnXW9i9wb-TkEBSuFw_mA-k0JSr
VITE_PUBLIC_SITE_URL=https://renolix.github.io/atlasmieldz.github.io/
